In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None)
#pd.set_option('display.max_columns',None)
df=pd.DataFrame({
    'ord_no':
[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':
[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':
    [3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':
    [5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders DataFrame:")
print(df)
print("\nNumber of missing calues of the said dataframe:")
print(df.isna().sum())

Original Orders DataFrame:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

Number of missing calues of the said dataframe:
ord_no         4
purch_amt      0
ord_date       1
customer_id    0
salesman_id    3
dtype: int64

In [2]:
import pandas as pd
import numpy as np
data={ 'First Score':[100,90,np.nan,95],
      'second Score':[40,50,66,np.nan],
      'Third Score':[np.nan,40,80,98]
     }
df=pd.DataFrame(data)
df.fillna(0,inplace=True)
print(df)

   First Score  second Score  Third Score
0        100.0          40.0          0.0
1         90.0          50.0         40.0
2          0.0          66.0         80.0
3         95.0           0.0         98.0

In [8]:
import pandas as pd
import numpy as np
#Create the DataDrame
data={
    'G1':[10,20,30,40],
    'G2':[21,np.nan,14,15],
    'G3':[22,33,44,55]
}
df=pd.DataFrame(data)
df.fillna(df.mean(),inplace=True)
print(df)

   G1         G2  G3
0  10  21.000000  22
1  20  16.666667  33
2  30  14.000000  44
3  40  15.000000  55

In [13]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None)
#pd.set_option('display.max_columns',None)
df=pd.DataFrame({
    'ord_no':
[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':
[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':
    [3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':
    [5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})
print("Original Orders DataFrame:")
print(df)
print("Using median in purch_amt to replace NaN:")
df['purch_amt'].fillna(df['purch_amt'].median(),inplace=True)
print(df)

Original Orders DataFrame:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN
Using median in purch_amt to replace NaN:
     ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001.0     150.50  2012-10-05         3002       5002.0
1       NaN     270.65  2012-09-10         3001       5003.0
2   70002.0      65.26         NaN         3001       5001.0
3   70004.0     110.50  2012-08-17         3003          NaN
4       NaN     948.50  2012-09-10         3002       5002.0
5   70005.0    2400.60  2012-07-27         3001       5001.0
6       NaN    5760.00  2012-09-10         3001       5001.0
7   70010.0    1983.43  2012-10-10         3004          NaN
8   70003.0    2480.40  2012-10-10         3003       5003.0
9   70012.0     250.45  2012-06-27         3002       5002.0
10      NaN      75.29  2012-08-17         3001       5003.0
11  70013.0    3045.60  2012-04-25         3001          NaN

/tmp/ipykernel_11495/2636512860.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['purch_amt'].fillna(df['purch_amt'].median(),inplace=True)

In [12]:
import pandas as pd
import numpy as np
df=pd.DataFrame({
    'ord_no':
[70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
'purch_amt':
[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45,75.29,3045.6],
'ord_date':['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27','2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
'customer_id':
    [3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id':
    [5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]})

df=pd.DataFrame(data)
missing_values=df.isna()
print(missing_values)

      G1     G2     G3
0  False  False  False
1  False   True  False
2  False  False  False
3  False  False  False