In [2]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Ram','Sham','meena','seeta','geeta','rakesh','madhav']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.2,3.98,2.56,3.20,4.6,3.4])}
df=pd.DataFrame(d)
print(df.sum())

Name      RamShammeenaseetageetarakeshmadhav
Age                                      181
Rating                                 25.17
dtype: object

SyntaxError: invalid syntax (4171639904.py, line 7)

In [5]:
import pandas as pd
import numpy as np
d={'Name':pd.Series(['Ram','Sham','meena','seeta','geeta','rakesh','madhav']),'Age':pd.Series([25,26,25,23,30,29,23]),'Rating':pd.Series([4.23,3.2,3.98,2.56,3.20,4.6,3.4])}
df=pd.DataFrame(d)
print(df.sum()) 
print('statistical details:',df.describe())

Name      RamShammeenaseetageetarakeshmadhav
Age                                      181
Rating                                 25.17
dtype: object
statistical details:              Age    Rating
count   7.000000  7.000000
mean   25.857143  3.595714
std     2.734262  0.705073
min    23.000000  2.560000
25%    24.000000  3.200000
50%    25.000000  3.400000
75%    27.500000  4.105000
max    30.000000  4.600000

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as s
score={'Virat':[92,97,85,74,71,55,85,63,42,32,71,55],'Rohit':[89,87,67,55,47,72,76,79,44,92,99,47]}
df=pd.DataFrame(score)
print(df)
print("\n arithemetic mean value")
print("score 1",s.tmean(df["Virat"]).round(2))
print("score 2",s.tmean(df["Rohit"]).round(2))